div > h2{
    font-style: italic;
}
h2 + p{
    color:red;
}
ul.list > li{
    list-style-type: none;
    border-bottom: grey solid 1px;
}
li > a:visited{
    color:red;
}
li > a:link{
    color:green;
}
li > a:hover{
    color:pink;
}
ul li:first-child::first-letter{
    font-size: 120%;
    font-weight: bold;
}
a[title = "BCIT homepage"]{
    background-color: yellow;
}

img{
    float:left;
}
.below{
    clear:left;
}

.target{
    width:50px;
    height:50px;
    background-color: forestgreen;
    position: absolute;
    top:0;
    right:0;
    }
.container{
    border: 2px gray solid;
    position: relative;
    }